  <% @translation.each do |line| %>
  <div class="excel-row">
    <% if line.category == 'Row Header' %>
      <hr/>
      <div class="row-number"><%= line.content %></div>
    <% elsif line.category != 'Copy' %>
      <xmp class="code text"><%= line.content %></xmp>
    <% else %>
      <p class="text"><%= line.content %></p>
    <% end %>
  </div>
    <%end%>
