<!doctype html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>HTML Text Cloak</h1>
    <nav>
        <form>
          <input id="hide" type="radio" name="hide" value="hide" checked> Hide HTML<br>
          <input id="show" type="radio" name="show" value="show"> Show HTML<br>
          <hr>
          <input id="showNumbers" type="radio" name="numbers" value="numbers" checked>Show Row #s<br>
          <input id="hideNumbers" type="radio" name="numbers" value="numbers">Hide Row #s<br>
        </form>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
</body>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
</html>
