.excel-row {
  display: inline;
}

nav {
  display: inline;
  width: 112px;
  height: 100px;
  border: 1px solid black;
  position: fixed;
  background: rgba(204, 204, 204, 0.5);
}

.container {
  margin: 10px 100px;
}

.row-number {
  background: grey; 
}
