.excel-row {
  display: inline;
}

nav {
  display: inline;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  position: fixed;
  background: rgba(204, 204, 204, 0.5);
}

.container {
  margin: 10px 50px;
}
